body {
    font-family: 'Helvetica';
    background-color: #121212;
    color: rgba(255,255,255,0.6);
}

h4 {
    color: rgba(255,255,255,0.6);
}

p {
    margin-bottom:0;
    margin-top:0;
    padding-top:0;
}

input[type=text] {
    background-color: rgba(255,255,255,0.13);
    color: rgba(255,255,255,0.6);
}

input[type=datetime-local] {
    background-color: rgba(255,255,255,0.13);
    color: rgba(255,255,255,0.6);
}

input[type=submit] {
    background-color: rgba(255,255,255,0.13);
    color: rgba(255,255,255,0.6);
    border: none;
}

input[type=checkbox] {
    background-color: rgba(255,255,255,0.13);
    color: rgba(255,255,255,0.6);
    border: none;
}

textarea {
    background-color: rgba(255,255,255,0.13);
    color: rgba(255,255,255,0.6);
}

.card_0 {
  /* Add shadows to create the "card" effect */
  background-color: rgba(255,255,255,0.06);
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_1 {
  /* Add shadows to create the "card" effect */
  background-color: rgba(255,255,255,0.07);
  position: relative;
  left: 50px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_2 {
  /* Add shadows to create the "card" effect */
  background-color: rgba(255,255,255,0.08);
  position: relative;
  left: 100px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
